<h1>Users:</h1>
<%= @users %><br/>

<%= @userCols %><br/>
<%= @usersList %>

<h1>Cats:</h1>
<%= @cats %><br/>

<%= @catCols %><br/>
<%= @catList %>

<h1>Todos:</h1>
<%= @todos %><br/>

<%= @todosCols %><br/>
<%= @todosList %>

<h1>Tables:</h1>
<%= @tables %>





